/* Hide the default checkbox */
.toggle-switch input {
  display: none;
}
/* Toggle switch slider */
.slider {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  background-color: #ccc;
  border-radius: 18px;
  transition: background-color 0.4s;
}
.slider::before {
  content: "";
  position: relative;
  width: 14px;
  height: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}
/* Toggle switch effect */
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider::before {
  transform: translateX(14px);
}
#controller, #barsSlider {
  width: 80%;
}
* {
  box-sizing: border-box;
}
.table {
  display: table;
  width: 100%;
  padding-bottom: 25px;
  }
.row {
  display: table-row;
}
.column {
  display: table-cell;
  float: left;
  padding: 10px;
}
.algo_name {
  font-size: 32px;
  font-weight: bold;
}
.bigo {
  font-size: 20px;   
  font-weight: normal;
  font-style: italic;
}
.algo_type {
  font-size: 23px;
  font-weight: bold;
}
.algo_version {
  font-size: 20px;
  font-weight: normal;
}
.debug {
  font-size: 18px;
  font-weight: bold;
}
